#container {
  max-height:90%;
  position: absolute;
  top: 10%;
  right: 0;
  left: 0;
  bottom: 0;
}

#top-div {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 60%;
  text-align: center;
}
#bottom-div {
  position: absolute;
  top: 30%;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
}
#avatar-img{
  max-height: 30%;
}

#update-user-modal-body{
  display: flex;
  justify-content: center;
}

form input{
  padding-left: 50%;
}

#account-btn-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#update-account-btn, #delete-account-btn {
  margin:.5%;
  font-size: small;
} 