#container {
  max-height:90%;
  position: absolute;
  top: 10%;
  right: 0;
  left: 0;
  bottom: 0;
}

#top-div {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 40%;
  text-align: center;
}
#bottom-div {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
}
#avatar-img{
  max-height: 30%;
  margin:3%;
}

